/* ==== BASE STYLES ====*/

/* ==================== GLOBAL STYLES ======================= */
// @import url('../fonts/roboto/font.css');

@import url('https://rsms.me/inter/inter.css');

html {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
}

// @supports (font-variation-settings: normal) {
//   html { font-family: 'Inter var', sans-serif; }
// }

/* ========================
INCLUDE STYLES AND COMPONENTS
===================== */

@import "variables-custom";

/* ================== HELPERS  =================== */
@import "ui-assets/helpers/mixins";
@import "ui-assets/helpers/helper-classes";
@import "ui-assets/helpers/bg";
@import "ui-assets/helpers/typography";

/* ================== SECTIONS =================== */
@import "ui-assets/sections/header";
@import "ui-assets/sections/footer";
@import "ui-assets/sections/sidebar";

/* ================== COMPONENTS =================== */
@import "ui-assets/components/plugin-styles";
@import "ui-assets/components/buttons";
@import "ui-assets/components/items";
@import "ui-assets/components/lists";
@import "ui-assets/components/cards-item";
@import "ui-assets/components/elements.scss";
@import "ui-assets/components/menu";
@import "ui-assets/components/forms";

/* ================== PAGES =================== */
@import "ui-assets/pages/page-account";
@import "ui-assets/pages/page-base";
@import "ui-assets/pages/page-home";
@import "ui-assets/pages/page-detail";
@import "ui-assets/pages/page-listing";
@import "ui-assets/pages/page-order";

@import "ui-assets/rtl-override";

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
	overflow: hidden;
	background-image: linear-gradient(135deg, #f25a46 0%, #eb444d 100%);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 9999;
	color: #fff;
}

#preloader .jumper {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	position: absolute;
	margin: auto;
	width: 50px;
	height: 50px;
}

#preloader .jumper > div {
	background-color: #fff;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
	opacity: 0;
	width: 50px;
	height: 50px;
	-webkit-animation: jumper 1s 0s linear infinite;
	animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
	-webkit-animation-delay: 0.33333s;
	animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
	-webkit-animation-delay: 0.66666s;
	animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	5% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	5% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
	.overlayDoor {
		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 50%;
			height: 100%;
			background-image: linear-gradient(135deg, #f25a46 0%, #eb444d 100%);
			transition: .5s cubic-bezier(.77, 0, .18, 1);
			transition-delay: .8s;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
	&.loaded {
		.overlayDoor {
			&:before {
				left: -50%;
			}
			&:after {
				right: -50%;
			}
		}
		.overlayContent {
			opacity: 0;
			margin-top: -15px;
		}
	}
	.overlayContent {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition: .5s cubic-bezier(.77, 0, .18, 1);
		.skip {
			display: block;
			width: 130px;
			text-align: center;
			margin: 50px auto 0;
			cursor: pointer;
			color: #fff;
			font-family: 'Nunito';
			font-weight: 700;
			padding: 12px 0;
			border: 2px solid #fff;
			border-radius: 3px;
			transition: 0.2s ease;
			&:hover {
				background: #ddd;
				color: #444;
				border-color: #ddd;
			}
		}
	}
}
.loader {
	width: 128px;
	height: 128px;
	border: 3px solid #fff;
	border-bottom: 3px solid transparent;
	border-radius: 50%;
	position: relative;
	animation: spin 1s linear infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	.inner {
		width: 64px;
		height: 64px;
		border: 3px solid transparent;
		border-top: 3px solid #fff;
		border-radius: 50%;
		animation: spinInner 1s linear infinite;
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spinInner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-720deg);
	}
}

.annoucement-card {
	border: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 6px !important;
	color: rgba(0, 0, 0, .87);
	background: #fff;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	.annoucement-card-body {
		padding: .9375rem 1.875rem;
	}
	.annoucement-card-header.annoucement-card-header-image {
		position: relative;
		padding: 0;
		z-index: 1;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: -30px;
		border-radius: 6px;
		max-height: 215px;
		a {
			display: block;
		}
		img {
			width: 100%;
			height: 215px;
			object-fit: cover;
			border-radius: 6px;
			pointer-events: none;
			box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
		}
		.colored-shadow {
			transform: scale(.94);
			top: 12px;
			filter: blur(12px);
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			z-index: -1;
			transition: opacity .45s;
			opacity: 1;
		}
	}
	.annoucement-card-category {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.text-info {
		color: #212529 !important;
	}
}
.annoucement-card-description {
	color: #999;
}
.annoucement-card.annoucement-card-profile {
	text-align: center;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader2 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader2:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #ff914d;
	border-top-color: white;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

//   NPROGRESS
/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #ff914d;

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #ff914d, 0 0 5px #ff914d;
	opacity: 1.0;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
//   #nprogress .spinner {
// 	display: block;
// 	position: fixed;
// 	z-index: 1031;
// 	top: 15px;
// 	right: 15px;
//   }

//   #nprogress .spinner-icon {
// 	width: 18px;
// 	height: 18px;
// 	box-sizing: border-box;

// 	border: solid 2px transparent;
// 	border-top-color: #ff914d;
// 	border-left-color: #ff914d;
// 	border-radius: 50%;

// 	-webkit-animation: nprogress-spinner 400ms linear infinite;
// 			animation: nprogress-spinner 400ms linear infinite;
//   }

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.image-container {
	width: 100%;

	> div {
		position: unset !important;
	}

	.image {
		object-fit: contain;
		width: 100% !important;
		position: relative !important;
		height: unset !important;
	}
}

// Product Card

//   .product-wrapper{
// 	width: 300px;
// 	height: 500px;
// 	background: white;
// 	// margin: auto;
// 	position: relative;
// 	overflow: hidden;
// 	border-radius: 10px 10px 10px 10px;
// 	box-shadow: 0;
// 	transform: scale(0.95);
// 	transition: box-shadow 0.5s, transform 0.5s;
// 	&:hover{
// 	  transform: scale(1);
// 	  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
// 	}

// 	.product-container{
// 	  width:100%;
// 	  height:100%;
// 	  .product-top{
// 		height: 80%;
// 		width:100%;
// 	-webkit-background-size: 100%;
// 	-moz-background-size: 100%;
// 	-o-background-size: 100%;
// 	background-size: 100%;
// 	  }
// 	  .product-bottom{
// 		width: 200%;
// 		height: 20%;
// 		transition: transform 0.5s;
// 		&.product-clicked{
// 		  transform: translateX(-50%);
// 		}
// 		h1{
// 			margin:0;
// 			padding:0;
// 		}
// 		p{
// 			margin:0;
// 			padding:0;
// 		}
// 		.product-left{
// 		  height:100%;
// 		  width: 50%;
// 		  background: #f4f4f4;
// 		  position:relative;
// 		  float:left;
// 		  .product-details{
// 			padding: 20px;
// 			float: left;
// 			width: calc(70% - 40px);
// 		  }
// 		  .product-buy{
// 			float:right;
// 			width: calc(30% - 2px);
// 			height:100%;
// 			background: #f1f1f1;
// 			transition: background 0.5s;
// 			border-left:solid thin rgba(0,0,0,0.1);
// 			i{
// 			  font-size:30px;
// 			  padding:30px;
// 			  color: #254053;
// 			  transition: transform 0.5s;
// 			}
// 			&:hover{
// 			  background: #A6CDDE;
// 			}
// 			&:hover i{
// 			  transform: translateY(5px);
// 			  color:#00394B;
// 			}
// 		  }
// 		}
// 		.product-right{
// 		  width: 50%;
// 		  background: #A6CDDE;
// 		  color: white;
// 		  float:right;
// 		  height:200%;
// 		  overflow: hidden;
// 		  .product-details{
// 			padding: 20px;
// 			float: right;
// 			width: calc(70% - 40px);
// 		  }
// 		  .product-done{
// 			width: calc(30% - 2px);
// 			float:left;
// 			transition: transform 0.5s;
// 			border-right:solid thin rgba(255,255,255,0.3);
// 			height:50%;
// 			i{
// 			  font-size:30px;
// 			  padding:30px;
// 			  color: white;
// 			}
// 		  }
// 		  .product-remove{
// 			width: calc(30% - 1px);
// 			clear: both;
// 			border-right:solid thin rgba(255,255,255,0.3);
// 			height:50%;
// 			background: #BC3B59;
// 			transition: transform 0.5s, background 0.5s;
// 			&:hover{
// 			  background: #9B2847;
// 			}
// 			&:hover i{
// 			  transform: translateY(5px);
// 			}
// 			i{
// 			  transition: transform 0.5s;
// 			  font-size:30px;
// 			  padding:30px;
// 			  color: white;
// 			}
// 		  }
// 		  &:hover{
// 			.product-remove, .product-done{
// 			  transform: translateY(-100%);
// 			}
// 		  }
// 		}
// 	  }
// 	}

// 	.product-inside{
// 	  z-index:9;
// 	  background: #92879B;
// 	  width:140px;
// 	  height:140px;
// 	  position: absolute;
// 	  top: -70px;
// 	  right: -70px;
// 	  border-radius: 0px 0px 200px 200px;
// 	  transition: all 0.5s, border-radius 2s, top 1s;
// 	  overflow: hidden;
// 	  .product-icon{
// 		position:absolute;
// 		right:85px;
// 		top:85px;
// 		color:white;
// 		opacity: 1;
// 	  }
// 	  &:hover{
// 		width:100%;
// 		right:0;
// 		top:0;
// 		border-radius: 0;
// 		height:80%;
// 		.product-icon{
// 		  opacity: 0;
// 		  right:15px;
// 		  top:15px;
// 		}
// 		.product-contents{
// 		  opacity: 1;
// 		  transform: scale(1);
// 		  transform: translateY(0);
// 		}
// 	  }
// 	  .product-contents{
// 		padding: 5%;
// 		opacity: 0;
// 		transform: scale(0.5);
// 		transform: translateY(-200%);
// 		transition: opacity 0.2s, transform 0.8s;
// 		table{
// 		  text-align:left;
// 		  width:100%;
// 		}
// 		h1, p, table{
// 		  color: white;
// 		}
// 		p{
// 		  font-size:13px;
// 		}
// 	  }
// 	}
//   }
