.section-header {
	background-color: #fff;
	box-shadow: 0 0 3px rgba(#333, .15);
}

/* ================== header main ==================  */
.header-top-light {
	.nav-link {
		color: $gray-500;
		&:hover {
			color: $dark;
		}
	}
}

.header-main {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.brand-wrap,
.navbar-brand {
	.logo {
		margin-right: 7px;
		max-height: 34px;
		display: inline-block;
	}
}

.navbar-main {
	.nav-link {
		&:hover {
			color: $primary;
		}
	}
}

.search-header {
	border: 2px solid $primary;
	border-radius: $border-radius-lg;
	.form-control,
	.custom-select {
		border-color: transparent;
	}
	select {
		flex-basis: 150px !important;
		flex-grow: 0 !important;
	}
}

.widget-header {
	display: inline-block;
	vertical-align: middle;
	position: relative;

	.widget-view {
		padding: 5px 7px;
		display: inline-block;
		position: relative;
		text-align: center;
	}
	.icon-area {
		font-size: 24px;
		display: inline-block;
		width: 36px;
		height: 30px;
		color: $gray-500;
		.notify {
			position: absolute;
			top: 0px;
			right: 8%;
		}
	}
	.icon {
		color: $gray-500;
		.notify {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.text {
		max-width: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		line-height: 1.2;
	}

	a {
		color: $dark;
	}

	form {
		min-width: 280px;
	}

	&:hover {
		i {
			color: $dark;
		}
	}
}

/* desktop only */
@media all and (min-width: 768px) {
}
/* desktop only .end */

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
	overflow: hidden;
	background-image: linear-gradient(135deg, #f25a46 0%, #eb444d 100%);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 9999;
	color: #fff;
  }
  
  #preloader .jumper {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	position: absolute;
	margin: auto;
	width: 50px;
	height: 50px;
  }
  
  #preloader .jumper > div {
	background-color: #fff;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
	opacity: 0;
	width: 50px;
	height: 50px;
	-webkit-animation: jumper 1s 0s linear infinite;
	animation: jumper 1s 0s linear infinite;
  }
  
  #preloader .jumper > div:nth-child(2) {
	-webkit-animation-delay: 0.33333s;
	animation-delay: 0.33333s;
  }
  
  #preloader .jumper > div:nth-child(3) {
	-webkit-animation-delay: 0.66666s;
	animation-delay: 0.66666s;
  }